## .NET
bin/
obj/
*.user
*.suo
.vs/
_ReSharper*/
*.DotSettings.user
TestResults/
BenchmarkDotNet.Artifacts/

## Rider
.idea/

## VS Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json

## Environment / Secrets
.env
*.env.local
*.pfx
*.p12

## Docker
.dockerignore

## OS
.DS_Store
Thumbs.db
